{% block content %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>   
<div class="container-fluid">
    <h1>Patient Approval</h1>
    <table class="table table-bordered table-striped table-success" >
        <tr class="table-info">
            
                <th>first name</th>
                <th>last name</th>
                <th>email</th>
                <!-- <th>place</th> -->
                <th>age</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
            {% for p in patnt %}
            <tr>
                <td>{{ p.first_name }}</td>
                <td>{{ p.last_name }}</td>
                <td>{{ p.email }}</td>
                <!-- <td>{{ p.place }}</td> -->
                <td>{{ p.age }}</td>
                <td><a class="btn btn-primary btn-xs" ><span class="glyphicon glyphicon-ok"></span></a></td>
                <td><a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></td>
                <!-- <td><a href="/dt2/{{ t.id }}">Delete</a></td> -->
                <!-- <td><a href="/et2/{{ t.id }}">Edit</a></td> -->
            </tr>
            {% endfor %}
        </table>
        

</body>
</html>
{% endblock content %}